{% extends "TTmemberBundle:Default:index.html.twig" %}
{%block titre%} {{ parent() }} {%endblock%}

{% block contenu %}

<div class="cadre1">
<div class="cadre2">
<strong>
<br>
<br>
<div style="text-align:center;"> {{ message }} </div>
</strong>

</div>
</div>

{% endblock %}